<div class='pt-40 flex items-center justify-center'>
  <form [formGroup]='loginForm' class="flex flex-col w-96 lg:w-3/12 text-center">
    <h2>Login</h2>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type='email' matInput formControlName='email'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type='password' matInput formControlName='password'>
    </mat-form-field>
    <button mat-button (click)='onSignIn()'>Sign In</button>
    <button class='pt-3' routerLink='/registration'>Not Registered?
      <span routerLink='/auth' class='text-blue-600'>Sign Up</span>
    </button>
  </form>
</div>

