<div class='flex flex-col items-center justify-center h-full'>
  <mat-card class='w-full sm:w-96'>
    <mat-card-content>
      <form [formGroup]='registrationForm' class='flex flex-col text-center'>
        <h2>Register</h2>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type='text' matInput formControlName='userName'>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email address</mat-label>
          <input type='email' matInput formControlName='email'>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type='password' matInput formControlName='password'>
        </mat-form-field>
        <button mat-stroked-button color="primary"  (click)='onSignUp()'>Create an Account</button>
      </form>
    </mat-card-content>
  </mat-card>
  <span class='pt-4'>Already have an account?</span>
  <a class='underline' routerLink='/login'>Sign In</a>
</div>




<div class="example-config">
  Selected value is: {{value | kendoDate:'MM/dd/yyyy'}}
</div>
<div class="example-wrapper" style="min-height: 400px">
  <p>Select a date:</p>
  <kendo-datepicker
    [(value)]="value"
  ></kendo-datepicker>
  <p>(use Alt+↓ to open the calendar, ← and →  to navigate, ↑ to increment and ↓ to decrement the value)</p>
</div>
