<div class='pt-40 items-center flex items-center justify-center'>
  <form [formGroup]='registrationForm' class="flex flex-col w-11/12 lg:w-3/12 text-center">
    <h2>Register</h2>
    <mat-form-field>
      <mat-label>firstName</mat-label>
      <input type='text' matInput formControlName='firstName'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>lastName</mat-label>
      <input type='text' matInput formControlName='lastName'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type='email' matInput formControlName='email'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type='password' matInput formControlName='password'>
    </mat-form-field>
    <button mat-button (click)='onSignUp()'>Sign Up</button>
    <button class='pt-3'>Already Registered?
      <span routerLink='/auth' class='text-blue-600'>Login</span>
    </button>
  </form>
</div>
